In [0]:
# Creating Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Campus PySpark Practice").master("local[*]").getOrCreate()

In [0]:
data = [
    ("E101", "Amit", "Sales", 10, 1200),
    ("E102", "Sneha", "Marketing", 8, 1500),
    ("E103", "Ravi", "Sales", 12, 1300),
    ("E104", "Anjali", "HR", 7, 1100),
    ("E105", "Raj", "Sales", 5, 1000)
]
columns = ["EmpID", "Name", "Department", "UnitsSold", "UnitPrice"]
df = spark.createDataFrame(data, columns)
df.show()

+-----+------+----------+---------+---------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|
+-----+------+----------+---------+---------+
| E101|  Amit|     Sales|       10|     1200|
| E102| Sneha| Marketing|        8|     1500|
| E103|  Ravi|     Sales|       12|     1300|
| E104|Anjali|        HR|        7|     1100|
| E105|   Raj|     Sales|        5|     1000|
+-----+------+----------+---------+---------+

In [0]:
# Creating dataframe


data = [
    ("E101", "Amit", "Sales", 10, 1200),
    ("E102", "Sneha", "Marketing", 8, 1500),
    ("E103", "Ravi", "Sales", 12, 1300),
    ("E104", "Anjali", "HR", 7, 1100),
    ("E105", "Raj", "Sales", 5, 1000)
]

columns = ["EmpID", "Name", "Department", "UnitsSold", "UnitPrice"]

df = spark.createDataFrame(data, columns)
df.show()

+-----+------+----------+---------+---------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|
+-----+------+----------+---------+---------+
| E101|  Amit|     Sales|       10|     1200|
| E102| Sneha| Marketing|        8|     1500|
| E103|  Ravi|     Sales|       12|     1300|
| E104|Anjali|        HR|        7|     1100|
| E105|   Raj|     Sales|        5|     1000|
+-----+------+----------+---------+---------+

In [0]:
# Show total number of employees
df.count()

5

In [0]:
# Add a new column TotalSales (UnitsSold * UnitPrice)
from pyspark.sql.functions import col
df = df.withColumn("TotalSales", col("UnitsSold") * col("UnitPrice"))
df.show()

+-----+------+----------+---------+---------+----------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+------+----------+---------+---------+----------+
| E101|  Amit|     Sales|       10|     1200|     12000|
| E102| Sneha| Marketing|        8|     1500|     12000|
| E103|  Ravi|     Sales|       12|     1300|     15600|
| E104|Anjali|        HR|        7|     1100|      7700|
| E105|   Raj|     Sales|        5|     1000|      5000|
+-----+------+----------+---------+---------+----------+

In [0]:
# Show only Sales Department employees with TotalSales > 12,000
df.filter((col("Department") == "Sales") & (col("TotalSales") > 12000)).show()

+-----+----+----------+---------+---------+----------+
|EmpID|Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+----+----------+---------+---------+----------+
| E103|Ravi|     Sales|       12|     1300|     15600|
+-----+----+----------+---------+---------+----------+

In [0]:
# Find employee with highest total sales
high = df.orderBy(col("TotalSales").desc()).limit(1)
high.show()

+-----+----+----------+---------+---------+----------+
|EmpID|Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+----+----------+---------+---------+----------+
| E103|Ravi|     Sales|       12|     1300|     15600|
+-----+----+----------+---------+---------+----------+

In [0]:
# Sort employees by TotalSales in descending order
desc = df.orderBy(col("TotalSales").desc())
desc.show()

+-----+------+----------+---------+---------+----------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+------+----------+---------+---------+----------+
| E103|  Ravi|     Sales|       12|     1300|     15600|
| E102| Sneha| Marketing|        8|     1500|     12000|
| E101|  Amit|     Sales|       10|     1200|     12000|
| E104|Anjali|        HR|        7|     1100|      7700|
| E105|   Raj|     Sales|        5|     1000|      5000|
+-----+------+----------+---------+---------+----------+