In [1]:
students = [
    ["Ravi", [85, 72, 90]],
    ["Sneha", [95, 88, 92]],
    ["Kabir", [65, 70, 60]],
    ["Anita", [75, 80, 78]]
]

In [3]:
print("Ravi's second mark:", students[0][1][1])

print("\nAverage marks:")
for student in students:
    name = student[0]
    marks = student[1]
    avg = sum(marks) / len(marks)
    print(f"{name}: {avg:.2f}")
print("\nStudents with all marks above 80:")

for name, marks in students:
    if all(mark > 80 for mark in marks):
        print(name)

average_list = [[name, sum(marks)/len(marks)] for name, marks in students]
print("\nNew list with averages:")
print(average_list)

Ravi's second mark: 72

Average marks:
Ravi: 82.33
Sneha: 91.67
Kabir: 65.00
Anita: 77.67

Students with all marks above 80:
Sneha

New list with averages:
[['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]

In [4]:
data = {
    "products": ["Mobile", "Laptop", "Tablet", "Camera"],
    "prices": [12000, 55000, 18000, 25000],
    "ratings": [4.5, 4.7, 4.0, 4.2]
}

In [5]:
product_list = [
    {"name": name, "price": price, "rating": rating}
    for name, price, rating in zip(data["products"], data["prices"], data["ratings"])
]

print(" Product List of Dictionaries:")
for item in product_list:
    print(item)

filtered_products = [
    product for product in product_list
    if product["price"] > 20000 and product["rating"] >= 4.5
]

print("\n Filtered Products (Price > 20000 & Rating ≥ 4.5):")
for item in filtered_products:
    print(item)

sorted_by_rating = sorted(product_list, key=lambda x: x["rating"], reverse=True)

print("\n Products Sorted by Rating (High to Low):")
for item in sorted_by_rating:
    print(item)

 Product List of Dictionaries:
{'name': 'Mobile', 'price': 12000, 'rating': 4.5}
{'name': 'Laptop', 'price': 55000, 'rating': 4.7}
{'name': 'Tablet', 'price': 18000, 'rating': 4.0}
{'name': 'Camera', 'price': 25000, 'rating': 4.2}

 Filtered Products (Price > 20000 & Rating ≥ 4.5):
{'name': 'Laptop', 'price': 55000, 'rating': 4.7}

 Products Sorted by Rating (High to Low):
{'name': 'Laptop', 'price': 55000, 'rating': 4.7}
{'name': 'Mobile', 'price': 12000, 'rating': 4.5}
{'name': 'Camera', 'price': 25000, 'rating': 4.2}
{'name': 'Tablet', 'price': 18000, 'rating': 4.0}

In [6]:
text = "ai is the future and ai will change everything in the ai world"

words = text.split()
freq_dict = {}

for word in words:
    freq_dict[word] = freq_dict.get(word, 0) + 1

print(" Word Frequencies:")
for word, count in freq_dict.items():
    print(f"{word}: {count}")



print("\n Words appearing more than once:")
for word, count in freq_dict.items():
    if count > 1:
        print(word)

        unique_words = sorted(set(words))
print("\n Sorted Unique Words:")
print(unique_words)

set1 = set(words)
set2 = {"ai", "ml", "data", "future"}

common_words = set1 & set2

print("\n Common Words Between Sets:")
print(common_words)

 Word Frequencies:
ai: 3
is: 1
the: 2
future: 1
and: 1
will: 1
change: 1
everything: 1
in: 1
world: 1

 Words appearing more than once:
ai
the

 Sorted Unique Words:
['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']

 Common Words Between Sets:
{'ai', 'future'}

In [7]:
sales = {
    'Amit': 70000,
    'Sneha': 45000,
    'Ravi': 30000,
    'Anita': 90000,
    'Kabir': 20000
}


bonus_sales = {name: sale + sale * 0.10 for name, sale in sales.items()}

print(" Sales with 10% Bonus:")
print(bonus_sales)


high_sales = {name: sale for name, sale in sales.items() if sale > 50000}

print("\n Sales > 50,000:")
print(high_sales)


labels = {
    name: (
        "High" if sale >= 75000 else
        "Medium" if sale >= 40000 else
        "Low"
    )
    for name, sale in sales.items()
}

print("\n Sales Labels (High/Medium/Low):")
print(labels)

 Sales with 10% Bonus:
{'Amit': 77000.0, 'Sneha': 49500.0, 'Ravi': 33000.0, 'Anita': 99000.0, 'Kabir': 22000.0}

 Sales > 50,000:
{'Amit': 70000, 'Anita': 90000}

 Sales Labels (High/Medium/Low):
{'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

In [8]:
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)


student_dict = dict(zip(names, marks))
print("Dictionary from tuples:")
print(student_dict)


print("Minimum mark:", min(marks))
print("Maximum mark:", max(marks))



marks_set = set(marks)
marks_set.add(95)
print("Updated set of marks:", marks_set)

new_marks_set = {88, 70, 95, 60}
merged_set = marks_set.union(new_marks_set)
print("Merged set (unique elements):", merged_set)

Dictionary from tuples:
{'Ravi': 88, 'Sneha': 92, 'Kabir': 76}
Minimum mark: 76
Maximum mark: 92
Updated set of marks: {88, 92, 95, 76}
Merged set (unique elements): {70, 76, 60, 88, 92, 95}

In [9]:
employees = {
    "E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
    "E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},
    "E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}


employees["E104"] = {"name": "Anita", "dept": "Engineering", "salary": 90000}
print("After adding E104:")
print(employees)


for emp in employees.values():
    if emp["dept"] == "Engineering":
        emp["salary"] = int(emp["salary"] * 1.10)

print("\nAfter 10% salary hike for Engineering:")
for k, v in employees.items():
    print(k, "→", v)


from collections import defaultdict

dept_salaries = defaultdict(list)

for emp in employees.values():
    dept_salaries[emp["dept"]].append(emp["salary"])

avg_salaries = {dept: sum(salaries)/len(salaries) for dept, salaries in dept_salaries.items()}

# Find department with highest avg salary
highest_avg_dept = max(avg_salaries, key=avg_salaries.get)

print("\nAverage salary by department:")
for dept, avg in avg_salaries.items():
    print(f"{dept}: {avg:.2f}")

print("\nDepartment with highest average salary:", highest_avg_dept)

After adding E104:
{'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 80000}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 90000}}

After 10% salary hike for Engineering:
E101 → {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}
E102 → {'name': 'Sneha', 'dept': 'Engineering', 'salary': 88000}
E103 → {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}
E104 → {'name': 'Anita', 'dept': 'Engineering', 'salary': 99000}

Average salary by department:
Sales: 50000.00
Engineering: 93500.00
HR: 45000.00

Department with highest average salary: Engineering